<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.cloud.dao.LostDAO">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.zhang.cloud.entities.LostProperty">
        insert into property(name,info,location,qq,wx,image,gmtCreated,type,publish,exist)
        values (#{name},#{info},#{location},#{qq},#{wx},#{image},now(),#{type},1,1)
    </insert>

    <select id="findAll" resultType="com.zhang.cloud.entities.LostProperty">
        select id,name,info,gmtCreated,type from property order BY `id` DESC
    </select>

    <select id="findLostById" resultType="com.zhang.cloud.entities.LostProperty">
        select * from property where id=#{id} limit 1
    </select>

    <select id="findLostByInfo" resultType="com.zhang.cloud.entities.LostProperty">
        SELECT id,name,info,gmtCreated,type FROM property WHERE exist=1 and (name like  concat('%',#{info},'%') or info LIKE concat('%',#{info},'%')) order by `id` desc
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM property where exist=1
    </select>

    <select id="getLostByPage" resultType="com.zhang.cloud.entities.LostProperty">
        select id,name,info,gmtCreated,type from property where exist=1 order BY `id` DESC limit #{num},10
    </select>

    <insert id="insertUnite">
        insert into unite(lost_id,username,gmt_created)
        values (#{arg0},#{arg1},now())
    </insert>
</mapper>